<div class="container mt-3">
  <div class="card col-md-6 offset-3">
    <div class="card-body text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="card-body" *ngIf="programEditForm">
      <form [formGroup]="programEditForm" (ngSubmit)="handleUpdateProgram()">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-1">
              <input type="text" class="form-control" id="title" name="title" placeholder="titre"
                formControlName="title" />
            </div>
            <div class="mb-1">
              <input type="text" class="form-control" id="contenu" placeholder="contenu" formControlName="contenu" />
            </div>

          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div style="display: flex">
            <button type="submit" class="btn btn-primary" data-bs-container="body" data-bs-toggle="popover"
              data-bs-placement="bottom" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              data-bs-original-title="Popover Title" aria-describedby="popover344544">
              Modifier
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>



