<div class="row m-5">
  <div class="seance-header m-5">Les séances</div>

<div class="row">
  <div class="col-md-3 col-lg-3" *ngFor="let seance of seances">
      <div class="card">
       <div class="card-header">
        <h4 class="card-title">Seance du   <span>{{ seance.horaire.jour }}</span></h4>

       </div>

          <div class="card-body">
              <div class="card-title">
                <span class="badge bg-success">Thème de la seance</span>
                <span>{{ seance.cour.objectifDuCour }}</span>
              </div>
              <p class="card-title">
                <th class="badge bg-success">Horaire</th>
                <span>{{ seance.horaire.heureDebut }} - {{ seance.horaire.heureFin }} </span>
              </p>

          </div>
      </div>
  </div>
</div>





  </div>


  <div class="card mb-3" style="max-width: 440px;">
    <div class="row g-0" *ngFor="let seance of seances">
      <div class="card-header">
        <h4 class="card-title">Seance du <span>{{ seance.horaire.jour }}</span></h4>
      </div>
      <table class="table" >
        <tr>
          <th>Jour de cour</th>
          <td>{{  seance.horaire.heureDebut }} -{{ seance.horaire.heureFin}} </td>
        </tr>

        <tr>
          <th>Heure de fin</th>
          <td>{{ seance.cour }}</td>
        </tr>
        <tr>
          <th>Modifier l'horaires</th>
          <td>


          <span style="display:flex; margin : 10px 10 px 10px 10px">
            <div>
              <button class="btn btn-primary" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              data-bs-original-title="Popover Title"
              aria-describedby="popover344544"
              data-bs-placement="bottom"
               style="display:flex;">
                <p style="margin-right: 10px;">Modifier</p>
                <i class="bi bi-pencil-fill"></i>
              </button>
            </div>
          </span>
          </td>
        </tr>
      </table>
    </div>
  </div>







