<div class="row m-5">
  <div class="seance-header m-5">Les séances</div>

  <div class="row">
    <div class="col-md-3 col-lg-3" *ngFor="let seance of seances">
      <div class="card">
        <div class="card-header bg-primary" style="color:white;">
          <h4 class="card-title ">
            Seance du <span>{{ seance.horaire.jour }}</span>
          </h4>
        </div>

        <div class="card-body">
          <div class="card-title">
            <span class="badge bg-primary">Thème de la seance</span>
            <span style="display: flex;
            justify-content: center;
            align-items: center;">{{ seance.cour.objectifDuCour }}</span>
          </div>
          <div class="card-title">
            <div class="badge bg-primary">L'horaire</div>
            <div style="display: flex;
            justify-content: center;
            align-items: center;
            ">
              {{ seance.horaire.heureDebut }} - {{ seance.horaire.heureFin }}
            </div>
          </div>

        </div>
        <div class="card-footer">
          <div style="display: flex;
          justify-content: center;
          align-items: center;
          ">
            <button
              class="btn btn-primary"
              data-bs-toggle="popover"
              data-bs-placement="bottom"
              data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              data-bs-original-title="Popover Title"
              aria-describedby="popover344544"
              data-bs-placement="bottom"
              style="display: flex"
            >
              <p style="margin-right: 10px">Modifier</p>
              <i class="bi bi-pencil-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
