

<div class="container">
  <div class="d-flex justify-content-center align-items-center" class="create-user"
style="margin-left: 45px">

  <div style="display: flex; margin-top: 80px;">
    <p class="me-5">Créer un nouveau horaire</p>

    <button class="btn btn-success" >
      <i class="bi bi-person-plus-fill"></i>
    </button>
  </div>
</div>
  <table class="table table-dark table-bordered table-striped text-white" style="margin-top:20px; margin-bottom:100px;" >
    <thead>
      <tr>
        <th></th>
        <th>Modifier le niveau</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let horaire of horaires"(click)="gethoraires()">
        <td>{{ horaire.heureDebut }}</td>

        <td>
          <button class="btn btn-success" >
            <i class="bi bi-pencil-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center my-4">
    <!-- Ajoutez ici les boutons de pagination si nécessaire -->
  </div>
</div>

