<div class="container m-5">
  <div class="card-header m-5">
    Les lieux d'entrannements
  </div>
  <div
    class="d-flex justify-content-center align-items-center"
    class="create-user"
    style="margin-left: 45px"
  >
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <table class="table" *ngFor="let lieu of lieus" (click)="getlieus()">
            <tr>
              <th>Rue</th>
              <td>{{ lieu.rue }}</td>
            </tr>
            <tr>
              <th>Commune</th>
              <td>{{ lieu.commune }}</td>
            </tr>
            <tr>
              <th>Heure de fin</th>
              <td>{{ lieu.ville }}</td>
            </tr>
            <tr>
              <th>Modifier le lieu</th>
              <td>


              <span style="display:flex; margin : 10px 10 px 10px 10px">
                <div>
                  <button class="btn btn-primary" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                  data-bs-original-title="Popover Title"
                  aria-describedby="popover344544"
                  data-bs-placement="bottom"
                   style="display:flex;">
                    <p style="margin-right: 10px;">Modifier</p>
                    <i class="bi bi-pencil-fill"></i>
                  </button>
                </div>
              </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




